*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/we.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    padding: 100px;
    height: 100vh;
}
.bg-box{
    border-bottom: 2px solid salmon; 
} 
article{
    border-left: 20px solid rgb(133, 64, 57);
}
 